main{
    display: grid;
    grid-template-columns: repeat(10,45px);
    grid-template-rows: repeat(10,45px);
   /* grid-template-areas: 
    /*1"blanc noir blanc noir blanc noir blanc noir blanc noir"
    /*2"noir blanc noir blanc noir blanc noir blanc noir blanc"
    /*3"blanc noir blanc noir blanc noir blanc noir blanc noir"
    /*4"noir blanc noir blanc noir blanc noir blanc noir blanc"
    /*5"blanc noir blanc noir blanc noir blanc noir blanc noir"
    /*6"noir blanc noir blanc noir blanc noir blanc noir blanc"
    /*7"blanc noir blanc noir blanc noir blanc noir blanc noir"
    /*"noir blanc noir blanc noir blanc noir blanc noir blanc"
    /*9"blanc noir blanc noir blanc noir blanc noir blanc noir"
    /*10"noir blanc noir blanc noir blanc noir blanc noir blanc";*/
}

.blanc{
    background-color: burlywood;
}

.noir{
    background-color: black;
}

#pion_blanc{
  
    border-radius: 50%;
}

#pion_noir{
 
    border-radius: 50% ;
}